body {
    background-color: lightblue;
}

/*Tratando as imagens*/
.img-circle {
    opacity: .8;
    width: 15%;
    /*max-width: 40%;*/
    height: auto;
    border-radius: 50%;
}

.img-circle:hover {
    opacity: 1;
}
.img-square {
    opacity: .8;
    width: 450px;
    /*max-width: 40%;*/
    height: auto;
}

.img-square:hover{
    opacity: 1;
}

h1 {
    align-content: center;
    font-family: sans-serif;
}

p {
    font-size: 14pt;
}

section a{
    font-family: sans-serif;
    font-size: 14pt;
}
