/*Tútulo da página*/
.titulo-pagina {
    align-content: center;
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: bold;
}

.sub-titulo{
    font-family: sans-serif;
    font-size: 14pt;

}

.tiluto-programa {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
    
}

body {
    background-color: lightblue;
}

/*Tratando as imagens*/
.img-circle {
    opacity: .8;
    width: 15%;
    /*max-width: 40%;*/
    height: auto;
    border-radius: 50%;
}

.img-circle:hover {
    opacity: 1;
}
.img-square {
    opacity: .8;
    width: 450px;
    /*max-width: 40%;*/
    height: auto;
}

.img-square:hover{
    opacity: 1;
}

.img-download{
    opacity: .8;
    width: 150px;
    height: auto;
}

.img-download:hover{
    opacity: 1;
}

section a{
    font-family: sans-serif;
    font-size: 14pt;
}

/*Formatando políticas temp*/
div{
    font-family: sans-serif;
    font-size: 14pt;
    margin: 0 auto;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}