.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img-mav{
    line-clamp: 2pt;
    border-radius: 0;
    border-right: 1px solid #111;
    border-right: 1px solid rgba(0, 0, 0, .2)
}

#question {
    font-size: 20pt; 
    color: red;
}

#score{
    font-size: 16pt; 
    color: red;
}

#correct{
    font-size:14pt; 
    font-weight:bold; 
    color: blue;
}

#right{
    font-size:14pt; 
    font-weight:bold; 
    color: blue;
}

#error{
    font-size: 14pt; 
    color: red;
}

#wrong{
    font-size: 14pt; 
    color: red;
}

#platformsReleased
{
    font-size:14pt; 
    font-weight:bold; 
}

#pressRelease
{
    font-size:14pt; 
    font-weight:bold; 
}

#sequenceLabel{
    font-size: 14pt; 
    color: green;
}

#sequence{
    font-size: 14pt; 
    color: green;
}

#recordLabel{
    font-size: 14pt; 
    color: orange;
}

#record{
    font-size: 14pt; 
    color: orange;
}

/*background-color: #f2f2f2*/
/*background-color: transparent*/

/*Progress bar*/

.progress-bar-theme {
    background-color: royalblue;
    color: royalblue;
}

/*social buttons*/
.fa-whatsapp, .fa-twitter, .fa-facebook, .fa-envelope{
    margin-top: 10px;
	
}

section#social a {
	box-sizing: border-box;
}

section#social a:hover {
	border: 2px solid rgba(0,0,0,0.400);
	transform: translate(-3px, -3px);
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.6);
}

.mail-link{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 180px;
	background-color: #D44638;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 40px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}

.twitter-link{
    position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 110px;
	background-color: lightblue;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 40px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}

.whatsapp-link{
    position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 40px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}

/*Start page projects*/

section#lastProjects img {
	box-sizing: border-box;
}

section#lastProjects img:hover {
	border: 2px solid rgba(0,0,0,0.400);
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.8);
}

/**/

section#projects img {
	box-sizing: border-box;
}

section#projects img:hover {
	border: 2px solid rgba(0,0,0,0.400);
	transform: translate(-3px, -3px);
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.8);
}

/*Tattle to History consoles*/

table {
	font-size: 18px;
	border-collapse: separate;
	border-spacing: 0;
  }
  th, td {
	padding: 10px 20px;
	text-align: center;
  }
  th {
	background-color: #A5A5A5;
  }
  tr:nth-child(even) td {
	background-color: #f9f9f9;
  }
  tr:nth-child(odd) td {
	background-color: #e9e9e9;
  }
  tr:first-child td {
	background-color: #d9d9d9;
  }

