body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 1em;
}

.container {
    text-align: center;
    margin: 0 auto;
}

#image-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}

#clear-button {
    margin-bottom: 1em;
}

#image-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#image-list li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}

#image-list li p {
    text-align: center;
}

.box {
    padding: 2em;
}

.item {
    margin-bottom: 2em;
}



.round {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
  
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}
  
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
  
.round input[type="checkbox"] {
  visibility: hidden;
}
  
.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}
  
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}