# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
devlog/blog02.html
devlog/blogTempBase.html
devlog/blogTempBase2.html
devlog/blogHistoriaMinha2.html
devlog/unityadsTemp.html
prototipos/cadastro.json
prototipos/tempExemplo.html
