@charset "UTF-8";
@font-face {
    font-family: 'Formula1';
    src: url(../fonts/Formula1-Regular_web_0.ttf) format('opentype');
}

:root{
    --cor0: #F1D8C9;
    --cor1: #F4AE82;
    --cor2: #BFAB9F;
    --cor3: #73675F;
    --cor4: #73513D;
    --cor5: #125189;
    
}

*{
    font-family: 'Product Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, #F1D8c9, #f2c3a7);
    font-size: 19px;
    margin: 0px;  
}

header{
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
}
header > p{
    color: var(--cor0);
}
nav{
    background-color: var(--cor2);
    text-decoration: none;
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 1);
    padding: 19px;
    width: 980px;
    margin: auto;
}
h1{
    font-family: Formula1;
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129, 77, 5);
    padding-bottom: 5px;
}

h2{
    font-family: Formula1;
    color: #125189;
    text-align: center;
}

h3{
    font-family: Formula1;
    color: #125189;
    padding: 0px 0px 5px 65px;
}
h4{
    font-family: Formula1;
    color: #125189;
    padding: 0px 0px 5px 65px;  
}

p{
    text-align: justify;
    text-indent: 50px; 
    padding: 0px 10px 10px 15px;
}
footer{
    background-color: #73513D;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
ol{
    padding: 15px;
    text-align: justify;
}

ul{
    padding-left: 50px;
    padding-bottom: 10px;
}